<!--DOCTYPE html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space_ticket</title>
</head>
<body>
<div >
    <div data-role="header">
        <h1><center>余票查询</center></h1>
    </div>

    <div role="main" class="ui-content"style="font-size:20px; background-color: aquamarine">
      <center >
            <form action="/space_ticket_action/" method="POST" >

                <table >
                    <tr>
                        <td>出发地：</td>
                        <td><input type="text" name="start_place"></td>
                    </tr>
                    <tr>
                        <td>目的地：</td>
                        <td><input type="text" name="aim_place"></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="确认"></td>
                    </tr>
                    <div style="color: #ff0b0c">{{error}}</div>
                </table>
            </form></center>
    </div>

    <div data-role="footer">
        <h1><center>京湘铁路</center></h1>
    </div>

</div>

</body>
</html>