<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train(已登录)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"><!--默认缩放比例为一即不缩放-->
</head>
<body>
<div data-role="page" id="index" >
    <div data-role="header">
        <h1><center>WELCOME TO THE SYSTEM</center></h1>
    </div>
    <div role="main" class="ui-content" style="font-size:20px; background-color: aquamarine">
         <form><center>

             <br/><br/>
             <p><a href="/Ticket_purchase" >1.购票</a></p>
             <br/>
             <p><a href="/refund">2.退票</a></p>
             <br/>
             <p><a href="/space_ticket">3.余票查询</a></p>
             <br/>
             <p><a href="/train_imformation">4.车次信息</a></p>
             <br/>
         </center></form>
    </div>
    <div data-role="footer">
        <h1><center>京湘铁路</center></h1>
</div>
</body>
</html>