<!--DOCTYPE html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space_ticket</title>
</head>
<body>
<div >
    <div data-role="header">
        <h1><center>个人信息</center></h1>
    </div>

    <div role="main" class="ui-content"style="font-size:20px; background-color: aquamarine">
     <center>
     <div style="color: #ff7100"><h3>你好：{{ user }}</h3></div>
     <div style="color: #e2ff07">{{ message }}</div>
     <a href="/myTickets/">我的订单</a>
     <table>
         <tr>
             <td>身份证号&nbsp;</td>
             <td>账号&nbsp;</td>
             <td>密码&nbsp;</td>
             <td>姓名&nbsp;</td>
             <td>性别&nbsp;</td>
             <td>电话&nbsp;</td>
         </tr>
         {% for i in flight_list %}1
         <tr>
             <td>{{i.flightId}}&nbsp;</td>
             <td>{{i.flightName}}&nbsp;</td>
             <td></td>
             <td>{{i.flightType}}&nbsp;</td>
             <td>{{i.flightCompany}}&nbsp;</td>
             <td>{{i.startTime}}&nbsp;</td>
         </tr>
         {% endfor %}
        <form  action="/modifyInformation/" method="post">
        <tr>
             <td>(不可更改)</td>
             <td>(不可更改)</td>
             <td><input type="text" name="password"/></td>
             <td><input type="text" name="name"/></td>
             <td><input type="text" name="sex"/></td>
             <td><input type="text" name="phone"/></td>
             <td><input type="submit" value="修改信息"></td>
         </tr>
        </form>
     <br/>
 </table>
     <br/></center>
    </div>

    <div data-role="footer">
        <h1><center>SDRAGON航空公司</center></h1>
    </div>

</div>

</body>
</html>